$Verdana: Verdana, sans-serif;
$Blue: #0070ae;
$Green: #8cc63f;

header {
  display: inline-flex;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.circleImage {
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}

.profilePicture {
  height: 100%;
  margin-left: -25%;
}

.basicInfo {
  padding-left: 3rem;
}

h1 {
  font-family: $Verdana;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  width: max-content;
}

h2 {
  font-family: $Verdana;
  font-weight: lighter;
  font-size: 1rem;
  color: white;
}

table {
  font-family: $Verdana;
  font-size: 0.8rem;
  color: white;
  padding-top: 10%;
  width: 15rem;
}

.bold {
  font-weight: bold;
}

.workExp .bold {
  padding-top: 0.5rem;
}

.bodyText {
  margin-left: 2rem;
  margin-top: 5rem;
  display: inline-flex;
  width: 70%;
}

.profile {
  width: 100%;
  margin-right: 5%;
}

h3 {
  font-family: $Verdana;
  font-size: 1rem;
  font-weight: bold;
  color: $Blue;
  padding-top: 1.5rem;
}

p {
  font-family: $Verdana;
  font-size: 0.8rem;
  text-align: justify;
}

.sidebar {
  width: 20%;
  background-color: lightgray;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 2rem 0 2rem;
}

.logo {
  width: 10rem;
  position: absolute;
  top: 90%;
  right: 5%;
}

@media only screen and (max-width: 800px) {
  header {
    background-color: $Blue;
    border-bottom: 0.5rem solid $Green;
    display: block;
    text-align: center;
    padding: 5% 0 5% 0;
    margin: 0%;
  }

  .circleImage {
    display: inline-block;
    width: 15rem;
    height: 15rem;
  }

  .basicInfo {
    display: inline-block;
    margin: 0%;
    padding: 0%;
  }

  h1 {
    margin-top: 10%;
    font-size: 1.5rem;
  }

  table {
    padding-top: 10%;
    margin: auto;
  }
  td {
    text-align: left;
  }

  .bodyText {
    text-align: center;
    margin: 0 10% 10% 10%; 
    display: inline-block;
    width: 80%;
  }

  .sidebar {
    width: 80%;
    position: relative;
    padding: 5% 10% 0 10%;
    text-align: center;
  }

  h3 {
    text-align: left;
  }

  .logo {
    width: 40%;
    margin: 10%;
    position: relative;
    top: 0%;
    right: 0%;
  }
}
